.dark-theme {
/* code */
  code {
    color: hsl(0,0%,70%) !important;
    background-color: hsla(0,0%,0%,0.1) !important;
  }
  
  .CodeMirror-gutters {
    background-color: hsla(0,0%,0%,0.11) !important;
  }
  
  .CodeMirror-linenumber {
    color: hsl(0,0%,30%) !important;
  }
  
  .CodeMirror {
    color: hsl(0,0%,60%) !important;
    background-color: hsla(0,0%,0%,0.07) !important;
  }

/* tables */
  .table-auto thead th {
    background-color: hsla(0,0%,0%,0.08) !important;
  }
  
  .table-auto tbody tr:nth-child(even) {
    background-color: hsla(0,0%,0%,0.11) !important;
  }
  
}